/* Notification Badge Style */
.notification-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
}

.notification-badge:empty {
    display: none;
}

/* Modal Header Style */
.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

/* Modal Body Style */
.modal-body {
    padding: 20px;
}

.low-stock-item {
    color: #ff5722; /* เปลี่ยนเป็นสีที่ต้องการ */
    font-weight: bold; /* ทำให้ข้อความหนา */
}

.modal-body ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal-body ul li {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.modal-body ul li:last-child {
    border-bottom: none;
}

/* Modal Footer Style */
.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    
}

.close:hover {
    opacity: 0.75;
}

.btn-secondary{
    background-color: #4557a0;
}

.navbar-nav .btn-outline-primary {
    margin-left: 15px; 
}


